<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.example.demo.entity.User">
        <id property="id" column="i" />
        <result property="username"         column="username"   />
        <result property="nickname"         column="nickname"   />
        <result property="role"             column="role_id"    />
        <result property="registerDatetime" column="reg_dttm"   />
        <result property="modifyDatetime"   column="mod_dttm"   />
    </resultMap>

    <insert id="createUser" parameterType="com.example.demo.entity.User">
        INSERT INTO
            user
        SET
            username = #{username},
            nickname = #{nickname},
            role_id = #{role.id}
    </insert>

    <update id="updateUserByUsername" parameterType="com.example.demo.entity.User">>
        UPDATE
            user
        SET
            nickname = #{nickname},
            role_id = #{role.id}
        WHERE
            username = #{username}
    </update>

    <delete id="deleteUserByUsername" parameterType="string">
        DELETE FROM
            user
        WHERE
            username = #{username}
    </delete>

    <select id="getUserByUsername" resultMap="userResultMap">
        SELECT
            id,
            username,
            nickname,
            role,
            reg_dttm,
            mod_dttm
        FROM
            user
        WHERE
            username = #{username}
    </select>
</mapper>